.header {
    background-color: antiquewhite;
    display: flex;
    margin: 1px 0;
}

.bigtitle {
    background-color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
}

.little {
    background-color: aquamarine;
    padding: 4px;
}

.top {
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
    border: 2px dashed orange;
}

.middle {
    margin-top: 10px;
    background-color: lightblue;
    border: 2px dashed orange;
}

.bottom {
    margin-top: 10px;
    background-color: lightgrey;
    border: 2px dashed orange;
}